# --- App ---
NEXT_PUBLIC_APP_NAME="Mes données géo"
SESSION_SECRET="change-me-in-production-32-chars-min"

# --- ProConnect ---
PROCONNECT_ISSUER="https://fca.integ01.dev-agentconnect.fr/api/v2"
PROCONNECT_CLIENT_ID=""
PROCONNECT_CLIENT_SECRET=""
PROCONNECT_REDIRECT_URI="http://localhost:3006/auth/callback"
PROCONNECT_POST_LOGOUT_REDIRECT_URI="http://localhost:3006"
PROCONNECT_SCOPES="openid given_name usual_name email siret"

# --- Base de données PostgreSQL / PostGIS ---
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mes-donnees-geo"

# --- La Suite UI ---
NEXT_PUBLIC_OPERATOR_ID="9f5624fc-ef99-4d10-ae3f-403a81eb16ef"

# --- Panoramax ---
NEXT_PUBLIC_PANORAMAX_API_URL=https://api.panoramax.xyz
