# --- App ---
NEXT_PUBLIC_APP_NAME="Mes données géo"
SESSION_SECRET="change-me-in-production-32-chars-min"

# --- ProConnect ---
PROCONNECT_ISSUER="https://fca.integ01.dev-agentconnect.fr/api/v2"
PROCONNECT_CLIENT_ID=""
PROCONNECT_CLIENT_SECRET=""
PROCONNECT_REDIRECT_URI="http://localhost:3006/auth/callback"
PROCONNECT_POST_LOGOUT_REDIRECT_URI="http://localhost:3006/"
PROCONNECT_SCOPES="openid given_name usual_name email siret"

# --- Base de données PostgreSQL / PostGIS ---
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mes-donnees-geo"
