.control {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.triggerThumbnail {
  display: inline-block;
  flex: none;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
}

.optionThumbnail {
  display: inline-block;
  flex: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
}
