.cadastreSearch {
  position: absolute;
  top: 0;
  left: 100%;
  height: 40px;
  cursor: default;

  &.hidden {
    overflow: hidden;
    width: 0px;
    transition: width 0.3s;
    padding: 0;
    border: 0;
  }

  &.visible {
    width: 200px;
    transition: width 0.3s;
  }

  .c__input__wrapper {
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
